## **Calculate Your Age**

In [2]:
import time
from calendar import isleap

In [3]:
#judge the leap year
def judge_leap_year(year):
  if isleap(year):
    return True
  else:
    return False

In [4]:
#return the number of days in each month

In [5]:
def month_days(month, leap_year):
  if month in [1,3,5,7,8,10,12]:
    return 31
  elif month in [4,6,8,11]:
    return 30
  elif month == 2 and leap_year:
    return 29
  elif month == 2 and ( not leap_year):
    return 28

In [12]:
name =input (" input your name: ")
age = input(" input your age: ")
Localtime = time.localtime(time.time())

 input your name: ghazal
 input your age: 33

In [13]:
year =int(age)
month=year * 12 +localtime.tm_mon
day = 0

In [14]:
begin_year = int(localtime.tm_year)-year
end_year = begin_year +year

In [18]:
# calculate the days
for y in range(begin_year, end_year):
    if (judge_leap_year(y)):
        day = day + 366
    else:
        day = day + 365

In [20]:
leap_year = judge_leap_year(localtime.tm_year)
for m in range(1, localtime.tm_mon):
    day = day + month_days(m, leap_year)

In [21]:
day = day + localtime.tm_mday
print("%s's age is %d years or " % (name, year), end="")
print("%d months or %d days" % (month, day))

ghazal's age is 33 years or 398 months or 12093 days