<div style="color: white;padding-top:0px;text-align:center;background-color:#257662;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 1 (score:350)</h3>
</div>

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 01 (Basic)(50):</h4>
</div>

In [52]:
#conver to int
num1 = 12.45
num1 = int(num1)
print (num1, ", type num1 : ",type(num1))

num2 = "12.45"
num2 = int(float (num2))
print (num2, ", type num2 : ",type(num2))

flagl = True
flagl = int(flagl)
print (flagl ,", type flagl : ",type(flagl))

code ="al23"
print ("we can't convert it directly to int because it contain numerical and non numerical toghther") 

num3 = "0123"
num3 = int(num3)
print (num3, ", type num3 : ",type(num3))

12 , type num1 :  <class 'int'>
12 , type num2 :  <class 'int'>
1 , type flagl :  <class 'int'>
we can't convert it directly to int because it contain numerical and non numerical toghther
123 , type num3 :  <class 'int'>

In [53]:
#convert to float

num4 = 10
num4 = float(num4)
print (num4, ", type num4 : ",type(num4))

num5 = 4.
print (num5, ", type num5 : ",type(num5))

num6 = "4.7"
num6 = float(num6)
print (num6, ", type num6 : ",type(num6))

num7 = "5l"
num7 = float(num7)
#======>  ValueError: could not convert string to float: '5l'

name = "python"
name = float(name)
#======>  ValueError: could not convert string to float: 'python'

10.0 , type num4 :  <class 'float'>
4.0 , type num5 :  <class 'float'>
4.7 , type num6 :  <class 'float'>

ValueError: could not convert string to float: '5l'

In [54]:
#convert to bool
flag3 = False
print (flag3, ", type flag3 : ",type(flag3))

flag4 = "False"
flag4 = bool(str(flag4))
print (flag4, ", type flag4 : ",type(flag4))

name1 = ""
name1 = bool(name1)
print (name1, ", type name1 : ",type(name1))

name2 =" "
name2 = bool(name2)
print (name2, ", type name2 : ",type(name2))

num8 = 0
num8 = bool(num8)
print (num8, ", type num8 : ",type(num8))

False , type flag3 :  <class 'bool'>
True , type flag4 :  <class 'bool'>
False , type name1 :  <class 'bool'>
True , type name2 :  <class 'bool'>
False , type num8 :  <class 'bool'>

In [50]:
#convert to str

flag = False
flag = str(flag)
print (flag , ", type flag : ",type(flag))

num = 0.000
num = str(bool(num))
print (num , ", type num : ",type(num))

False , type flag :  <class 'str'>
False , type num :  <class 'str'>

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 02 (Basic)(50)</h4>
</div>

In [60]:
x = "300"  
y = int(x)  #=====> y=300
z = y + 200   #=====> z=500
a = float (z)   #====> a=500.0
#b = a + x        #=====> float + str =====> is not correct so we should convert it to float
b = a + float(x)   #======> 500+300
c = int(b) + 100     #========> 800 +100 =900
print(c)

900

In [62]:
x = "250"  
y = int(x)  #=====> y=250
z = y // 3   #=====> z=83
a = str (z)   #====> a="83"
b = a + x        #=====> str + str =====> "83"+"250"
print(b)

c = int(b) // 2    
print(c)

83250
41625

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 03 (Basic)(50)</h4>
</div>

In [88]:
user_input = input("Please enter a string: ")
print(user_input == "yes" or user_input == "no")

True

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 04 (Basic)(50)</h4>
</div>

In [89]:
user_input = input("Please enter a string: ")
print(bool(user_input))

False

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 05 (Basic)(50)</h4>
</div>

In [95]:
user_input = input("Please enter a temperature in Celsius: ")
user_input = float(int(user_input))
Fahrenheit = (user_input * 9/5) + 32
print(user_input, "째C is equal to ",Fahrenheit, "째F")

45.0 째C is equal to  113.0 째F

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 06 (Basic)(50)</h4>
</div>

In [98]:
num1, num2, num3 = 17 , 1.8 , 28 #=======> correct
#num4, num5 = 45 , 12 , 19         #========> is not correct because the number of the valuables in left side is not equal to number of values in right side
num4, num5 , numX = 45 , 12 , 19 
#num6, num7, num8 = 200, 300           #========> is not correct because the number of the valuables in left side is not equal to number of values in right side
num6, num7, num8 = 200, 300 , 400 
name, score, passed = "sara", 19, True 
var1 = var2 = var3 = 500

In [105]:
num1, num2, num3 = 17 , 1.8 , 28 #=======> correct
print (" num1: ",num1 ,", num2: ", num2,", num3: " ,num3 )

 num1:  17 , num2:  1.8 , num3:  28

In [106]:
#num4, num5 = 45 , 12 , 19         #========> is not correct because the number of the valuables in left side is not equal to number of values in right side
num4, num5 , numX = 45 , 12 , 19 
print (" num4: ",num4 ,", num5: ", num5,", numX: " ,numX )

 num4:  45 , num5:  12 , numX:  19

In [107]:
#num6, num7, num8 = 200, 300           #========> is not correct because the number of the valuables in left side is not equal to number of values in right side
num6, num7, num8 = 200, 300 , 400 
print (" num6: ",num6 ,", num7: ", num7,", num8: " ,num8 )

 num6:  200 , num7:  300 , num8:  400

In [108]:
name, score, passed = "sara", 19, True 
print (" name: ",name ,", score: ", score,", passed: " ,passed )

 name:  sara , score:  19 , passed:  True

In [109]:
var1 = var2 = var3 = 500
print (" var1: ",var1 ,", var2: ", var2,", var3 " ,var3 )

 var1:  500 , var2:  500 , var3  500

In [100]:
num1 = 20
num2 = 30
num1, num2 = num2, num1          #========> num1=num2(30)= 30 , num2=num1(20)= 20
print (num1, num2)

30 20

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 05 (String)(80)</h4>
<p> Write a program that prompts the user to enter a password. The program
should validate the password based on the following criteria</p>

</div>

The length of the password must be exactly 8 characters.
The first four characters of the password must be letters (alphabets).
The last four characters of the password must be digits (numbers).
If the password meets all the above criteria, the program should display "Valid".
Otherwise, it should display "Invalid".

In [110]:
# write code here: 

password = input("Enter Your Password: ")

len_pass = len(password)

middle = len_pass//2

part1 = password[:middle]

part2 = password[middle:]

print("len :",len_pass,"\npart1:",part1,"\npart2:",part2)

if len_pass == 8 and part1.isalpha() and part2.isdigit():
    
    print("Valid")
    
else:
    
    print("Invalid")

len : 6
part1: kgi
part2: ggn
Invalid

<div style="color: white;padding-top:0px;text-align:center;background-color:#257662;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 2 (score:200)</h3>
</div>

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 01 (Condition)(50)</h4>
</div>

In [115]:
user_input = input("Please enter a Letter: ")

if user_input in ("a", "e", "i", "o", "u") :
    print ( "Vowel")
else:
    print("Consonant")

Consonant

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 02 (Condition)(50)</h4>
</div>

In [124]:
user_input = input("Please enter a Number: ")
user_input = float(user_input)
if user_input>10 and user_input<20 :
    print("Range")
else:
    print("Out of Range")

Range

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 03 (Condition)(50)</h4>
</div>

In [126]:
num1 = input("Please enter a Number1: ")
num2 = input("Please enter a Number2: ")
num1 = float(num1)
num2 = float(num2)

if num1+num2 > 20:
    print("Greater")
else:
    print(" Not Greater")

Greater

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 04 (Condition)(50)</h4>
</div>

In [131]:
color1 = input("Please enter a color1: ")
color2 = input("Please enter a color2: ")
color3 = input("Please enter a color3: ")

if color1==color2==color3 :
    print("All colors match")
elif color1==color2:
    print("Two colors match")
elif color2==color3:
    print("Two colors match")
elif color1==color3:
    print("Two colors match")
else :
    print ("No colors match")

No colors match

<h2 style="color: blue:; background-color: purple">Good luck</h2>